@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap"); /*Young serif*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"); /*Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); /* Ubuntu*/
:root{
  --font1 : 'Young Serif', serif;
  --font2: 'Roboto Condensed', sans-serif;
  --font3: 'Ubuntu', sans-serif;

}
.quote{
  margin: 15px 0;
  margin-top: 55px !important;
  font-family: var(--font3);
}
.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    height: 92vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-image: url("https://st2.depositphotos.com/1002277/10073/i/950/depositphotos_100732302-stock-photo-word-admin-on-wood-planks.jpg");
      background-size: cover; */
      background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    
}
.getSign{
  font-family: var(--font3);
  font-size: 35px;
}
.typewriter{
  font-size: 25px;
  font-family: var(--font3);
}
.special{
  transform: scale(1.5,1.5);
  color: white;
  font-weight: bold;

}
.custom-background{
    background-color: #8D6142
}
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 20px;
  }
  
  
  
  .button-container {
    display: flex;
    justify-content: center;
    font-family: var(--font2);
  }
  
  .login-form {
     /* background-image: url(../images/loginpage.jpg);  */
     background-color: white;
     
     border-radius: 15px;
  background-size: cover;
    padding: 2rem;
    font-family: var(--font2);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 
  .list-container {
    display: flex;
  }
  
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: var(--font3);
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  .input-container input {
    width: 20vw;
    border-radius:5px ;
    border: 0;
    outline: 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding: 18px 5px;
    background-color: #6eb5ea85 !important;
    /* color: white; */

  }
  /* styles */

  /* HOME */

  .bg1{
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important; */
    height: 90vh;
    background-color: white !important;

}
.bg1 nav{
    
    background-color: white;
    padding:8px 15px;
}
.ctnt{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%) !important;

    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}
.ctnt h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px 0 !important;
}
.ctnt p{
    margin-top: 35px;
}
.quote{
    /* border: 2px solid red; */
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.quote h1{
    font-size: 45px !important;
    font-family: var(--font2) !important;
    text-align: center;

}
.quote p{
    text-align: right !important;
}
.quote hr,.hrHome{
    width: 70vw;
    color: black !important;
    opacity: 0.2;
    padding: 25px;
    margin: 25px 0;
}
.ovcds{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 15px !important;
    flex-wrap: wrap;
}
.cardss div{
    margin: 25px 75px;
    margin-top: 45px;
    border: 0;
    opacity: 0.9;
}
.cardss div.card-body{
    padding: 15px;
    text-align: center;
    margin: 0;
}

.signups button{
  background-color: black;
  border-radius: 5px;
  padding: 8px 35px;
  color: white !important;
  border: 0;
  outline: 0;
}
.signups button:hover{
  background-color: rgba(0, 0, 0, 0.795);
}
.hrHome{
  padding: 15px;
  opacity: 0.1;
}

  /* Navbar */
  .navsLogin{
    padding: 0 !important;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: none !important;

    
  }
.navVote{
  font-family: var(--font1);
  font-size: 25px;
  color: rgba(255, 166, 0, 0.827);
  
}
.navVote:hover{
  color: rgba(255, 166, 0, 0.827) !important;

}
  .myVote{
    height: 35px;
    border-radius: 50%;
  }
  .navs{
    align-items: center;
    /* padding: 5px 5px; */
    margin: 0 15px;
  }
  .navs a:hover{
  color: rgba(255, 166, 0, 0.827);
    
  }
  .navs a{
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--font3);
  }
  .hr{
    border:         none;
    border-left:    2px solid hsla(200, 10%, 50%,100);
    height:         5vh;
    width:          35px;  
  }
  .navs button:hover{
    color: white !important;
    text-decoration: none !important;
    /* background-color:rgba(255, 166, 0, 0.827) !important; */
    /* outline: 1px solid rgba(255, 166, 0, 0.827) !important; */
;
  }


  /* ABOUT  */

  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: auto;
}
.cds{
    margin: 25px 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cds:hover{
    transform: scale(1.1,1.1);
    transition: all 0.3s linear;
}
.abt{
    height: 100%;
    padding-top: 25px;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.ag a{
    color: white !important;
}
.ag a:hover{
    text-decoration: none !important;
}
.ag{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Foot */

.footer{
  background-color: black !important;
  color: white;
  height: 8vh;
  background-image: linear-gradient(to right, #1d1a1a 0%, black 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
}
.footer div{
  opacity: 0.4;
}
.fleft p,.fright p{
  margin: 0;
}
.fright a{
  text-decoration: none;
  color: white !important;
}

/*  */
.locActive{
  color: orange !important;
  display: flex;
  text-decoration: underline  !important;
  text-underline-offset: 5px;
  align-items: center;
  transition: all 0.3s linear !important;
}
.locActive:hover{
  color: orange !important;

  text-decoration: underline !important;

}